<!DOCTYPE html>
<html data-ng-app="app">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <link href="Site.css" rel="stylesheet" />
</head>
<body>
    <div data-ng-controller="rolesController">
        <ul>
            <li data-ng-repeat="role in roles" data-ng-click="showDetail(role)">
                <div class="showBox" data-ng-show="!(role.isEdit)">
                    <img class="pic" data-ng-src="{{role.Pic}}" />
                    <span class="nameTxt">{{role.Name}}</span>
                    <span class="conversationTxt">{{role.Conversation}}</span>
                    <div class="close" data-ng-click="remove(role);$event.stopPropagation();"></div>
                    <div class="edit" data-ng-click="editRole(role);$event.stopPropagation();"></div>
                </div>
                <div class="editBox" data-ng-show="role.isEdit">
                    大名:<input type="text" data-ng-model="role.edit.Name" />
                    對話:<input type="text" data-ng-model="role.edit.Conversation" /><br />
                    頭像:<input type="text" data-ng-model="role.edit.Pic" /><br />
                    <textarea class="editArea" data-ng-model="role.edit.Info"></textarea>
                    <div class="close" data-ng-click="cancel(role);$event.stopPropagation();"></div>
                    <button class="btn" data-ng-click="save(role);$event.stopPropagation();">確定</button>
                </div>
            </li>
        </ul>
        <div id="detailArea" data-ng-show="active">
            {{active.Info}}
        </div>
        <button class="btn add" data-ng-click="newRole()">新增</button>
    </div>

    <script src="Scripts/jquery-1.9.1.min.js"></script>
    <script src="Scripts/angular.min.js"></script>
    <script src="App/app.js"></script>
    <script src="App/roleService.js"></script>
    <script src="App/rolesController.js"></script>
</body>
</html>